<!doctype html>
<html>
<head>
    <title>Spring Boot AJAX jQuery CRUD</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="css/home.css"/>

</head>
<body>

    <p><a class='btn' href="#add" rel="modal:open">Add New Employee</a></p>

    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Department id</th>
            <th>Job title</th>
            <th>Gender</th>
            <th>Date of birth</th>
            <th>Actions</th>
        </tr>
    </table>

    <form id="add" action="#" class="add_form modal" style="display:none;">
        <div id='msg'/>
        <h3>Add new employee</h3>
        <p>
            <label>First Name</label>
            <input type="text" id="firstName" name="firstName">
            <label>Last Name</label>
            <input type="text" id="lastName" name="lastName">
            <label>Department ID</label>
            <input type="text" id="departmentId" name="departmentId">
            <label>Job Title</label>
            <input type="text" id="jobTitle" name="jobTitle">
            <label>Gender</label>
            <input type="text" id="gender" name="gender">
            <label>Date Of Birth</label>
            <input type="text" id="dateOfBirth" name="dateOfBirth">
        </p>
        <p>
            <input type="submit" id="addNew" value="Submit">
        </p>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="js/home.js"></script>`
</body>
</html>